---
- name: Install apache Tomcat10 on ubuntu
  hosts: ngnix-hosts
  become: true

  tasks:
    - name: Update the System packages
      ansible.builtin.apt:
        update_cache: true
        cache_valid_time: 3600

    - name: Create a tomcat user
      ansible.builtin.user:
        name: tomcat
        system: true
        state: present

    - name: Create a tomcat Group
      ansible.builtin.group:
        name: tomcat
        system: true
        state: present

    - name: Install JAVA
      ansible.builtin.package:
        name: default-jdk
        state: present

    - name: Create a tomcat directory with owner=tomcat and group=tomcat
      ansible.builtin.file:
        path: /opt/tomcat
        state: directory
        owner: tomcat
        group: tomcat
        mode: '0700'

    - name: Download & unarchive Tomcat10
      ansible.builtin.unarchive:
        src: https://archive.apache.org/dist/tomcat/tomcat-10/v10.0.0/bin/apache-tomcat-10.0.0.tar.gz
        dest: /opt/tomcat
        remote_src: true
        owner: tomcat
        group: tomcat
        mode: '0777'

    - name: Change ownership of tomcat directory
      ansible.builtin.file:
        path: /opt/tomcat/apache-tomcat-10.0.0
        state: directory
        owner: tomcat
        group: tomcat
        recurse: true

    - name: Settings user and password with blockinfile
      ansible.builtin.blockinfile:
        path: /opt/tomcat/apache-tomcat-10.0.0/conf/tomcat-users.xml
        insertbefore: </tomcat-users>
        block: |
            <role rolename="manager-gui"/>
            <user username="admin" password="admin123" roles="manager-gui"/>
      notify: Restart tomcat


    - name: Settings service tomcat10 SystemD
      ansible.builtin.template:
        src: templates/tomcat.service.j2
        dest: /etc/systemd/system/tomcat.service
        mode: '0644'
      notify: Restart tomcat

    - name: Start and enabled tomcat service
      ansible.builtin.systemd:
        name: tomcat
        state: started
        enabled: true
        daemon_reload: true

  handlers:
    - name: Restart tomcat
      systemd:
        name: tomcat
        state: restarted
